src/main/resources/courses.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://metro.edu/ics625/courses" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://metro.edu/ics625/courses" targetNamespace="http://metro.edu/ics625/courses">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://metro.edu/ics625/courses">
    
    <!-- CourseType matches CourseEntity -->
    <xs:complexType name="courseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element name="number" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="offered" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- get all courses -->
    <xs:element name="getAllCoursesRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getAllCoursesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="courses" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- get by ID -->
    <xs:element name="getCourseByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getCourseByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="course" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- get by number -->
    <xs:element name="getCourseByNumberRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="number" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getCourseByNumberResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- could be multiple with same number, so list -->
                <xs:element maxOccurs="unbounded" minOccurs="0" name="courses" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- get by title -->
    <xs:element name="getCourseByTitleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getCourseByTitleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="courses" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- add new course -->
    <xs:element name="addCourseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="course" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="saved" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- delete by ID -->
    <xs:element name="deleteCourseByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="deleteCourseByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deleted" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- update title + description -->
    <xs:element name="updateCourseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="updateCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="updated" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCourseByTitleRequest">
    <wsdl:part element="tns:getCourseByTitleRequest" name="getCourseByTitleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCourseResponse">
    <wsdl:part element="tns:addCourseResponse" name="addCourseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCoursesRequest">
    <wsdl:part element="tns:getAllCoursesRequest" name="getAllCoursesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCoursesResponse">
    <wsdl:part element="tns:getAllCoursesResponse" name="getAllCoursesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCourseByIdResponse">
    <wsdl:part element="tns:deleteCourseByIdResponse" name="deleteCourseByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCourseByIdRequest">
    <wsdl:part element="tns:deleteCourseByIdRequest" name="deleteCourseByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCourseResponse">
    <wsdl:part element="tns:updateCourseResponse" name="updateCourseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCourseRequest">
    <wsdl:part element="tns:addCourseRequest" name="addCourseRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourseByTitleResponse">
    <wsdl:part element="tns:getCourseByTitleResponse" name="getCourseByTitleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCourseRequest">
    <wsdl:part element="tns:updateCourseRequest" name="updateCourseRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourseByIdResponse">
    <wsdl:part element="tns:getCourseByIdResponse" name="getCourseByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourseByIdRequest">
    <wsdl:part element="tns:getCourseByIdRequest" name="getCourseByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourseByNumberRequest">
    <wsdl:part element="tns:getCourseByNumberRequest" name="getCourseByNumberRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourseByNumberResponse">
    <wsdl:part element="tns:getCourseByNumberResponse" name="getCourseByNumberResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CoursesPort">
    <wsdl:operation name="getCourseByTitle">
      <wsdl:input message="tns:getCourseByTitleRequest" name="getCourseByTitleRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCourseByTitleResponse" name="getCourseByTitleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <wsdl:input message="tns:addCourseRequest" name="addCourseRequest">
    </wsdl:input>
      <wsdl:output message="tns:addCourseResponse" name="addCourseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCourses">
      <wsdl:input message="tns:getAllCoursesRequest" name="getAllCoursesRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllCoursesResponse" name="getAllCoursesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCourseById">
      <wsdl:input message="tns:deleteCourseByIdRequest" name="deleteCourseByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteCourseByIdResponse" name="deleteCourseByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCourse">
      <wsdl:input message="tns:updateCourseRequest" name="updateCourseRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateCourseResponse" name="updateCourseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseById">
      <wsdl:input message="tns:getCourseByIdRequest" name="getCourseByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCourseByIdResponse" name="getCourseByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseByNumber">
      <wsdl:input message="tns:getCourseByNumberRequest" name="getCourseByNumberRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCourseByNumberResponse" name="getCourseByNumberResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoursesPortSoap11" type="tns:CoursesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCourseByTitle">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCourseByTitleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCourseByTitleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <soap:operation soapAction=""/>
      <wsdl:input name="addCourseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCourseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCourses">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllCoursesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCoursesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCourseById">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteCourseByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteCourseByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCourse">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateCourseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCourseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseById">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCourseByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCourseByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseByNumber">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCourseByNumberRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCourseByNumberResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoursesPortService">
    <wsdl:port binding="tns:CoursesPortSoap11" name="CoursesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>