src/main/resources/courses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://metro.edu/ics625/courses"
           xmlns:tns="http://metro.edu/ics625/courses"
           elementFormDefault="qualified">
    
    <xs:complexType name="courseType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="number" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="offered" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="addCourseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="course" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="saved" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getAllCoursesRequest" type="xs:anyType"/>
    
    <xs:element name="getAllCoursesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="courses" minOccurs="0" maxOccurs="unbounded" type="tns:courseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
